.home__main {
  height: 60vh;
  @media (min-width: 920px) {
    height: 83vh;
    background-image: url("../../../assets/Home-Hero-Image.jpg");
    background-size: contain;
    background-position: -200px bottom;
    background-repeat: no-repeat;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 920px) {
      flex-direction: row-reverse;
      justify-content: space-evenly;

      .home__main__box {
        width: 35%;
        margin: 0 auto;

        margin-right: 100px;
      }

      .home__main__wrapper {
        width: 65%;

        
      }
    }
  }

  &__box {
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 50%;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      line-height: 1.5em;
      font-size: 20px;
    }

    &__img {
      background-image: url("../../../assets/Decoration.svg");
      height: 33px;
      width: 253px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 20px 0;
    }

    &__btns {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        text-transform: uppercase;
        text-align: center;
        width: 45%;
        max-width: 250px;
        padding: 20px 0;
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid $needy-dark-grey;
      }
    }
  }

  &__wrapper {
    height: 70vh;
  }
  &__img {
    // position: relative;
    // left: -30%;
    
  }
}
