.three__columns__wrapper {
    height: 100%;
    width: 100%;
    background-color: $needy-yellow;
    padding: 10px 0;
    

    .three__columns {
        height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       @media (min-width: 920px) {
           width: 100%;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
        
       }

        &__box {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            max-width: 300px;
            margin: 50px auto;
            text-align: center;
            
            h2 {
                font-size: 50px;
            }
            
            h3 {
                margin: 20px 0;
                font-size: 20px;
                text-transform: uppercase;
            }
            
            p {
                line-height: 1.5em;
            }
        }
    }
}